{% extends 'ArtseldOpeninviterBundle::layout.html.twig' %}

{% block content %}
    <div style="position:relative;top:30px;left:30px;">
        <a href="{{ fbl }}" >LOGIN</a>
    </di>
{% endblock %}
