{% extends 'ArtseldOpeninviterBundle::layout.html.twig' %}

{% block content %}
    <div style="position:relative;top:30px;left:30px;">
        
<div>
    <div id="meName" class="Name"></div>
    <div id="meImg"></div>
    <div id="signin"></div>
</div>
<script src="//js.live.net/v5.0/wl.js" type="text/javascript"></script>
<script type="text/javascript">

    // Update the following values
    var client_id = "00000000480FD1C6",
        scope = ["wl.signin", "wl.basic", "wl.offline_access"],
        redirect_uri = "http://nginx1.qubedev.com:7021/app_dev.php/oi/live/LST";

    function id(domId) {
        return document.getElementById(domId);
    }

    function displayMe() {
        var imgHolder = id("meImg"),
            nameHolder = id("meName");

        if (imgHolder.innerHTML != "") return;

        if (WL.getSession() != null) {
            WL.api({ path: "me/picture", method: "get" }).then(
                    function (response) {
                        if (response.location) {
                            imgHolder.innerHTML = "<img src='" + response.location + "' />";
                        }
                    }
                );

            WL.api({ path: "me", method: "get" }).then(
                    function (response) {
                        nameHolder.innerHTML = response.name;
                    }
                );
        }
    }

    function clearMe() {
        id("meImg").innerHTML = "";
        id("meName").innerHTML = "";
    }

    WL.Event.subscribe("auth.sessionChange",
        function (e) {
            if (e.session) {
                displayMe();
            }
            else {
                clearMe();
            }            
        }
    );

    WL.init({ client_id: client_id, redirect_uri: redirect_uri, response_type: "token", scope: scope });

    WL.ui({ name: "signin", element: "signin" });

</script>

    </div>
{% endblock %}
